<!DOCTYPE html>
<html lang="en">

<head>
    <title>Smartpark</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../css/navbar.css">
    <link rel="stylesheet" href="../../../css/home.css">
</head>

<body style="background-color: #121212;">

    <!-- NAVBAR -->

    <div class="Nav-logo-box">
        <img src="../../../assets/logo.png" alt="Logo">
    </div>

    <div class="Nav-bar-box sticky-top">
        <div class="container Nav-item-box">
            <div class="Nav-link-box">
                <a href="" class="Nav-link" style="background-color: #BB86FC;">HOME</a>
                <a href="" class="Nav-link" style="border-right: solid #828282; border-width: thin;">TRAFFIC</a>
                <a href="" class="Nav-link" style="border-right: solid #828282; border-width: thin;">HOTSPOTS</a>
                <a href="" class="Nav-link" style="border-right: solid #828282; border-width: thin;">SAVED</a>
            </div>
            <div class="Nav-link-box">
                <a href="" class="Nav-question-btn">?</a>
                <a href="" class="Nav-login-btn">LOGIN</a>
            </div>
        </div>
    </div>

    <!-- NAVBAR -->

    <!-- CONTENT -->

    <div class="container">
        <form method="post">
            <div class="Home-search-box">
                <input class="Home-search-input" placeholder="Search for a location..." type="text">
                <button class="Home-search-btn" type="submit" name="search">Search</button>
            </div>
        </form>

        <div class="Home-map-box">
            <div class="Home-map">

            </div>
        </div>

        <div class="Home-rules-box">
            <div class="Home-rules-head">
                <div class="Home-rules-text">
                    <h4>Parking Schedule</h4>
                    <p>Schedules are subject to changes.</p>
                </div>
                <a href="" class="Home-rules-btn">Save</a>
            </div>
            <div class="Home-rules-tail">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="Home-table-fth"></th>
                                <td>00:00</td>
                                <td>00:30</td>
                                <td>01:00</td>
                                <td>01:30</td>
                                <td>02:00</td>
                                <td>02:30</td>
                                <td>03:00</td>
                                <td>03:30</td>
                                <td>04:00</td>
                                <td>04:30</td>
                                <td>05:00</td>
                                <td>05:30</td>
                                <td>06:00</td>
                                <td>06:30</td>
                                <td>07:00</td>
                                <td>07:30</td>
                                <td>08:00</td>
                                <td>08:30</td>
                                <td>09:00</td>
                                <td>09:30</td>
                                <td>10:00</td>
                                <td>10:30</td>
                                <td>11:00</td>
                                <td>11:30</td>
                                <td>12:00</td>
                                <td>12:30</td>
                                <td>13:00</td>
                                <td>13:30</td>
                                <td>14:00</td>
                                <td>14:30</td>
                                <td>15:00</td>
                                <td>15:30</td>
                                <td>16:00</td>
                                <td>16:30</td>
                                <td>17:00</td>
                                <td>17:30</td>
                                <td>18:00</td>
                                <td>18:30</td>
                                <td>19:00</td>
                                <td>19:30</td>
                                <td>20:00</td>
                                <td>20:30</td>
                                <td>21:00</td>
                                <td>21:30</td>
                                <td>22:00</td>
                                <td>22:30</td>
                                <td>23:00</td>
                                <td>23:30</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="Home-table-fth">Mon</th>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-red"></td>
                                <td class="Home-td-red"></td>
                                <td class="Home-td-red"></td>
                                <td class="Home-td-red"></td>
                                <td class="Home-td-red"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                            </tr>
                            <tr>
                                <th class="Home-table-fth">Tue</th>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                            </tr>
                            <tr>
                                <th class="Home-table-fth">Wed</th>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                            </tr>
                            <tr>
                                <th class="Home-table-fth">Thu</th>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                            </tr>
                            <tr>
                                <th class="Home-table-fth">Fri</th>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                            </tr>
                            <tr>
                                <th class="Home-table-fth">Sat</th>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                            </tr>
                            <tr>
                                <th class="Home-table-fth">Sun</th>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                                <td class="Home-td-green"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <!-- CONTENT -->

</body>

</html>